Package: tk.ud-team.ClassicAppleBoot
Name: ClassicAppleBoot
Version: 0.0.18
Architecture: iphoneos-arm
Description: Replaces your boot logo with the old Apple logo.
Depiction: https://ud-team.github.io/repo/depictions/ClassicAppleBoot.html
Homepage: https://ud-team.github.io/
Maintainer: Flipp3rrr <flipp3rrr@protonmail.com>
Author: Flipp3rrr <flipp3rrr@protonmail.com>
Section: Tweaks
