body {
	background-color: #212121;
}
h1 {
	font-family: arial, helvetica, serif;
	font-variant: small-caps;
	color: #FFFFFF;
}

h2 {
	font-family: arial, helvetica, serif;
	color: #FFFFFF;
}

h3 {
	font-family: arial, helvetica, serif;
	color: #FFFFFF;
}

p {
	font-family: arial, helvetica, serif;
	color: #CBCBCB;
}

a {
	font-family: arial, helvetica, serif;
	color: blue;
	text-decoration: underline;
}

li {
	font-family: arial, helvetica, serif;
	color: #CBCBCB;
}

.topnav {
	background-color: #191919;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ff6666;
	color: black;
}

.topnav a.active {
	background-color: #ff3333;
	color: white;
}

.fuckMargins {
	margin: 0;
}