/* Custom font */
@font-face {
    font-family: 'Segoe_UI_SemiBold';
    src: url('https://ud-team.github.io/fonts/Segoe_UI_SemiBold.ttf');
}

/* Background colour */
body {
	background-color: #212121;
}

/* Titles and headings */
h1 {
	font-size: xx-large;
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	font-variant: small-caps;
	text-align: center;
	border: 100px dashed #212121;
	color: #FFFFFF;
}

h2 {
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	color: #FFFFFF;
}

h3 {
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	color: #FFFFFF;
}

/* Other common styles */
p {
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	color: #CBCBCB;
}

a {
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	color: #CBCBCB;
	text-decoration: underline;
}

li {
	font-family: Segoe_UI_SemiBold, arial, helvetica, serif;
	color: #CBCBCB;
}

/* Navigation bar */
.topnav {
	background-color: #191919;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	text-decoration: bold;
}

.topnav a.active {
	text-decoration: bold;
}

.fuckMargins {
	margin: 0;
}