Package: tk.ud-team.stopanemone
Provides: com.anemonetheming.anemone
Replaces: com.anemonetheming.anemone
Conflicts: com.anemonetheming.anemone
Name: StopAnemone
Version: 1.0.1
Architecture: iphoneos-arm
Description: Stops Anemone from installing.
Depiction: https://ud-team.github.io/repo/depictions/StopAnemone.html
Homepage: https://ud-team.github.io/
Maintainer: Flipp3rrr <flipp3rrr@protonmail.com>
Author: Flipp3rrr <flipp3rrr@protonmail.com>
Section: Tweaks
