Package: com.anemonetheming.anemone
Name: StopAnemone
Version: 1.1
Architecture: iphoneos-arm
Description: Stops Anemone from installing.
Depiction: https://ud-team.github.io/repo/depictions/Anemone.html
Homepage: https://ud-team.github.io/
Maintainer: Flipp3rrr <flipp3rrr@protonmail.com>
Author: Flipp3rrr <flipp3rrr@protonmail.com>
Section: Tweaks
