Package: tk.ud-team.stopwinterboard
Name: StopWinterboard
Provides: winterboard
Replaces: winterboard
Conflicts: winterboard
Version: 1.0.2
Architecture: iphoneos-arm
Description: Stops Winterboard from installing.
Depiction: https://ud-team.github.io/repo/depictions/StopWinterboard.html
Homepage: https://ud-team.github.io/
Maintainer: Flipp3rrr <flipp3rrr@protonmail.com>
Author: Flipp3rrr <flipp3rrr@protonmail.com>
Section: Tweaks
