Package: com.spark.snowboard
Name: StopSnowboard
Version: 999.999
Architecture: iphoneos-arm
Description: Stops Snowboard from installing.
Depiction: https://ud-team.github.io/repo/depictions/StopSnowboard.html
Homepage: https://ud-team.github.io/
Maintainer: Flipp3rrr <flipp3rrr@protonmail.com>
Author: Flipp3rrr <flipp3rrr@protonmail.com>
Section: Tweaks
